/* Structural */
body {
    font-family: Arial, Helvetica, sans-serif;
    background:url("imagess/baby-goat-care.jpg");
    background-size: cover;
}

#content {
    background-color: rgba(255, 255, 255, 0.8);
    width: 70%;
    padding: 5px;
    margin: auto;       /* center in the page */
    border-radius: 5px;
    border: 1px solid black;
     box-shadow: 10px 10px 5px yellowgreen;
}

header, main, footer {
    padding: 5px;
}

header, footer {
    background-color: turquoise;
    color: white;
    
}

/* Navigation */


/* Typography */
h1 {
    color: green;
}